
  <div class="background-container">
    <h2 class="text-center mb-4">Employee Management System</h2>
    <mat-card class="home-card">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <mat-card class="img-card">
            <img src="../../assets/Images/employee.jpg" class="img-fluid">
            <button class="custom-button primary-button" (click)="navigateToEmployeeLogin()">Login Page for Employee Details</button>
          </mat-card>
        </div> 
        <div class="col-md-6 text-center">
          <mat-card class="img-card">
            <img src="../../assets/Images/departments.jpg" class="img-fluid">
            <button class="custom-button success-button" (click)="navigateToDepartmentLogin()">Login Page for Department Details</button>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>

  


